In [2]:
import numpy as np, pandas as pd, matplotlib.pyplot as plt, seaborn as sns
import statsmodels.api as sm
import arch
import yfinance as yf

In [10]:
stock_code = "^N225"
nikkei = yf.download(stock_code, start="1960-01-01", end="2023-05-31")
nikkei

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
1965-01-05,1257.719971,1257.719971,1257.719971,1257.719971,1257.719971,0
1965-01-06,1263.989990,1263.989990,1263.989990,1263.989990,1263.989990,0
1965-01-07,1274.270020,1274.270020,1274.270020,1274.270020,1274.270020,0
1965-01-08,1286.430054,1286.430054,1286.430054,1286.430054,1286.430054,0
1965-01-12,1288.540039,1288.540039,1288.540039,1288.540039,1288.540039,0
...,...,...,...,...,...,...
2023-05-10,29189.410156,29195.160156,29070.109375,29122.179688,29122.179688,87300000
2023-05-11,29110.789062,29165.589844,29028.710938,29126.720703,29126.720703,82200000
2023-05-12,29199.300781,29426.060547,29141.519531,29388.300781,29388.300781,106100000
2023-05-15,29547.039062,29629.470703,29475.970703,29626.339844,29626.339844,88600000
2023-05-16,29838.009766,29916.560547,29779.070312,29842.990234,29842.990234,0

In [11]:
nikkei['Adj Close']

Date
1965-01-05     1257.719971
1965-01-06     1263.989990
1965-01-07     1274.270020
1965-01-08     1286.430054
1965-01-12     1288.540039
                  ...
2023-05-10    29122.179688
2023-05-11    29126.720703
2023-05-12    29388.300781
2023-05-15    29626.339844
2023-05-16    29842.990234
Name: Adj Close, Length: 14351, dtype: float64